
@{
    Layout = null;
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>GiaoDienDangKiTaiKhoan</title>
    </head>
    <body>

        <p>Đăng kí tài khoản mới </p>
        <form action="/Home/XuLyDangKiTaiKhoan" method="post">
            Tên đăng nhập : <input type="text" name="user" /><br />
            Mật khẩu : <input type="password" name="pass" /><br />
            Nhập lại mật khẩu: <input type="password" name="pass1" /><br />
            <button type="submit">Đăng kí </button>
        </form>
        <p>@ViewBag.tbtk</p>
    </body>
    </html>*@
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/File_rieng/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/File_rieng/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/File_rieng/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/File_rieng/css/style.css">

    <title>Login #9</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 order-md-2">
                    <img src="~/File_rieng/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3 style="text-align: center;">Phần mềm thi Online <i class="fab fa-uncharted fa-1x fa-spin"></i><strong>EOS</strong><i class="fab fa-uncharted fa-1x fa-spin"></i></h3>
                                    <p style="text-align: center;">Đăng Kí Tài Khoản Dành Cho Học Sinh </p>
                                </div>
                                <form action="/Home/XuLyDangKiTaiKhoan" method="post">
                                    <div class="form-group first">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="user">
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="pass">
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Re-Password</label>
                                        <input type="password" class="form-control" id="password" name="pass1">
                                    </div>
                                    <input type="submit" value="Đăng kí" class="btn btn-pill text-white btn-block btn-primary">
                                </form>
                                <p style="text-align:center; color:red">@ViewBag.tbtk</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/1c24510dbf.js" crossorigin="anonymous"></script>
    <script src="~/File_rieng/js/jquery-3.3.1.min.js"></script>
    <script src="~/File_rieng/js/popper.min.js"></script>
    <script src="~/File_rieng/js/bootstrap.min.js"></script>
    <script src="~/File_rieng/js/main.js"></script>
</body>
</html>
