
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giaodiensuadethi</title>
</head>
<body>
    <p><a href="/Home/TrangChu">Quay lai</a></p>


</body>
</html>
